.first__picture {
    position: absolute;
    background-size: cover;
    width: 1476.76px;
    height: 984.7px;
    left: -233.75px;
    top: -82px;
    overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 778px) {
    .first__picture {
        width: 503.54px;
        height: 335.76px;
        left: -84.48px;
        top: -43.57px;
    }
}
.first__picture_up {
    transition: ease .5s;
    margin-bottom: 50px;
}
.first__picture_down {
    transition: ease .5s;
    margin-bottom: -50px;
}