.second__phone {
    max-width: 842.25px;
    width: 100%;
    height: 867.45px;
    overflow: hidden;
    background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .second__phone {
        max-width: 411.77px;
        max-height: 424.09px;
        width: 100%;
    }
}
.second__phone_grid_five {
    grid-column-start: 3;
    grid-area: E;
    margin: 0 auto;
}
