.button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 40px;
    line-height: 68px;
}
